/* ==UserStyle==
@name           Time & Expense
@namespace      https://github.com/abrusle
@version        0.0.2
@description    Complete restyle of Time & Expense
@author         Alexis Bruslé
@homepageURL	https://github.com/abrusle/userstyles/ucss/timeandexpense
@updateURL		https://raw.github.com/abrusle/userstyles/master/ucss/timeandexpense/timeandexpense.user.css

@var color bgColor "Background" hsl(215, 31%, 97%)
@var color navbarColor "Navbar Color" white
@var color navbarHighlight "Navbar Highlight" #4A5568
@var color tableColor "Table Color" hsl(0, 0%, 98%)
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@-moz-document domain("emea-timeandexpense.allegisgroup.com") 
{
	
	/*	     	*
	 *	    	*
	 *	DOMAIN	*
	 *	     	*
	 *	     	*/
	
	html, body
	{
		background-color: var(--bgColor);
	}
	
	.lightblue,
	h1, h2, h3, h4, ui, li,
	.leftth,
	a, p, ul, li, h1, h2, h3, table, tr, td, form,
	.actionButton a,
	.rightth, .weekendth,
	select, input,
	.footer a, .footer,
	.tablebox tr td:first-child,
	#prinav a,
	.friendlymessage,
	.bluelink a,
	.bluelink a:link,
	.bluelinksort a:link, .bluelinkwrap a:link,
	.th, .sm, .md,
	.searchmain a,
	.thsearch,
	.importantMessage, #btnSave, .submitButton
	{
		font-family: 'Source Sans Pro', sans-serif;
	}
	
    #Form1
    {
        height: 100vh;
    }

    .row3
	{
		/*background: rgba(0, 0, 0, 0) url("https://www.toptal.com/designers/subtlepatterns/patterns/email-pattern.png") repeat scroll 0% 0%;*/
		opacity: 0.7;
		height: 5.3em;
	}
    
    /* Navigation Panel */
    #left
    {
        top: 50%;
		transform: translatey(-50%);
		left: 2rem;
        position: fixed;
        order: 1;
        background-color: var(--navbarColor);
        width: 4em;
        border: none;
        opacity: 1; /*  TEMP  */
		border-radius: 0.7rem;
		overflow: hidden;
		transition: width 0.3s;
		box-shadow: 0px 2px 25px -5px rgba(0,0,0,0.2);
    }
	
	#left:hover
	{
		width: 22em;
	}
    
    #left #prinav
    {
        border: none;
        background: transparent;
    }
    
    #prinav a
    {
        width: 100%;
        font-size: 1.1em;
		white-space: nowrap;
        padding: 1.1em 1.5em 1.1em 4em;
        margin: 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid hsl(0, 0%, 95%);
        background: transparent;
        transition: color 0.2s;
    }
    
    #prinav a:hover
    {
        color: black;
        background-color: #00000009;
    }
    
    #prinav a:hover::before
    {
        opacity: 1;
    }
    
    #prinav a::before
    {
        content: '';
        display: block;
        background-size: contain;
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        left: 1em;
        transform: translatey(-0.12em);
        opacity: 0.7;
        transition: opacity 0.2s;
    }
    
    #prinav a[href="consultanthome.aspx"]::before                      {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/home.svg");}
    #prinav a[href="timecardhome.aspx"]::before                        {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/calendar.svg");}
    #prinav a[href="expenses.aspx"]::before                            {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/currency-euro.svg");}
    #prinav a[href="timeexpensesum.aspx"]::before                      {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/chart-pie.svg");}
    #prinav a[href="alltimecards.aspx"]::before                        {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/search.svg");}
    #prinav a[href="OperatingCompanyContactInfo.aspx"]::before         {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/information-circle.svg");}
    #prinav a[href="allexpensereports.aspx"]::before                   {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/document-report.svg");}
    #prinav a[href="UserGuide.aspx?doc=netcenter_tne.pdf"]::before     {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/book-open.svg");}
    #prinav a[href="useremailpreferences.aspx"]::before                {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/adjustments.svg");}
    #prinav a[href="changepassword.aspx"]::before                      {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/key.svg");}
    #prinav a[href="termsandconditions.aspx?qsViewTerms=true"]::before {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/scale.svg");}
    #prinav a[href="content/help/en-US/timecardhelp.pdf"]::before      {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/question-mark-circle.svg");}
    #prinav a[href="logout.aspx"]::before                              {background-image: url("https://raw.githubusercontent.com/refactoringui/heroicons/master/src/outline/logout.svg");}
    
    #mainbody
	{
		z-index: 0;
	}
	
	#mainbody > div:not(#left),
	#mainbody > table
	{
		margin-left: 0 !important;
		padding-left: var(--navbarWidth);
		box-sizing: border-box;
	}
	
	.bluelinksort a:link, .bluelinkwrap a:link
	{
		background-color: transparent;
	}
	
	#Footer1_footer
	{
		background-image: none !important;
		background-color: hsl(208, 48%, 96%);
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		padding: 1em !important;
		box-sizing: border-box;
	}
	
	#Footer1_footer > a,
	#Footer1_footer > span:first-of-type
	{
		margin-left: 2em;
	}
	
	#Footer1_footer,
	.footer a,
	.footer
	{
		color: hsl(208, 43%, 64%);
	}
	
	#Footer1_footer a:hover
	{
		text-decoration: none;
		color: hsl(208, 34%, 39%);
		border: none;
	}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[cC]onsultant[hH]ome.aspx.*") 
{
	#prinav a[href="consultanthome.aspx"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="consultanthome.aspx"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[tT]ime[cC]ard[hH]ome.aspx.*") 
{
	#prinav a[href="timecardhome.aspx"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="timecardhome.aspx"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[Ee]xpenses.*") 
{
	#prinav a[href="expenses.aspx"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="expenses.aspx"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[Tt]ime[Ee]xpense[Ss]um.*") 
{
	#prinav a[href="timeexpensesum.aspx"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="timeexpensesum.aspx"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[Aa]ll[Tt]ime[Cc]ards.*") 
{
	#prinav a[href="alltimecards.aspx"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="alltimecards.aspx"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[oO]perating[cC]ompany[cC]ontact[iI]nfo.*") 
{
	#prinav a[href="OperatingCompanyContactInfo.aspx"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="OperatingCompanyContactInfo.aspx"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[aA]ll[Ee]xpense[Rr]eports.*") 
{
	#prinav a[href="allexpensereports.aspx"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="allexpensereports.aspx"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[uU]ser[eE]mail[pP]references.*") 
{
	#prinav a[href="useremailpreferences.aspx"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="useremailpreferences.aspx"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[cC]hange[pP]assword.*") 
{
	#prinav a[href="changepassword.aspx"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="changepassword.aspx"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[tT]erms[aA]nd[cC]onditions.*") 
{
	#prinav a[href="termsandconditions.aspx?qsViewTerms=true"] {background-color: var(--navbarHighlight); color:white;}
	#prinav a[href="termsandconditions.aspx?qsViewTerms=true"]::before {filter: brightness(100);}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[cC]onsultant[hH]ome.*")
{
    /*	     	        *
	 *	    	        *
	 *	CONSULTANT HOME	*
	 *	     	        *
	 *	     	        */

	.content
	{
		margin: 0;
	}
	
	.content > h1
	{
		margin-top: 1.1em;
		font-size: 1.5em;
	}
	
	.content > h1,
	.content > p,
	.content > table
	{
		margin-left: 8rem;
	}
	
	.content > table
	{
		width: calc(100% - 12rem) !important;
	}
	
	#Time
	{
		padding: 0 !important;
		border: 1px solid hsl(0, 0%, 90%);
		border-collapse: collapse;
	}
	
	#Time tr
	{
		height: 2rem;
	}
	
	#Time td
	{
		margin: 0;
		padding-left: 1rem;
		text-align: left;
	}
	
	#Time tbody tr:first-of-type
	{
		background-color: var(--bgColor);
	}
	
	.mdyellow
	{
		background-color: hsl(0, 0%, 97%);
	}
	
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[tT]ime[cC]ard[hH]ome.aspx.*")
{
    /*	     	        *
	 *	    	        *
	 *	TIME CARD HOME	*
	 *	     	        *
	 *	     	        */
	
	#mainbody
	{
		height: 100%;
	}
	
	#mainbody > table
	{
		margin-left: 8rem !important;
		width: calc(100% - 12rem) !important;
	}
	
	#mainbody table:not(.invisible),
	#mainbody thead:not(.invisible),
	#mainbody tbody:not(.invisible),
	#mainbody tr:not(.invisible),
	#mainbody td:not(.invisible)
	{
		display: block;
		border: none;
	}
	
	#mainbody > table:nth-of-type(2) > tbody,
	#repStandardTimecards_ctl00_StandardTime_Panel1
	{
		width: calc(100vw - var(--navbarWidth) - 4rem);
		height: 100%;	
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1
	{
		border-radius: 0.5rem;
		margin-bottom: 2em;
		background-color: white;
		padding: 2em;
		border: none;
		box-shadow: 0px 2px 25px -5px rgba(0,0,0,0.2);
		box-sizing: border-box;
	}
	
	.yellowbgdiv
	{
		background-color: var(--tableColor);
	}
	
	.weekendth, .weekendTimeDisplay
	{
		background: url("https://www.toptal.com/designers/subtlepatterns/patterns/funky-lines.png") repeat scroll 0% 0%;
		background-origin: border-box;
		background-size: 20em;
	}
	
	/* Time Table */
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table
	{
		display: flex;
		flex-flow: column nowrap;
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr
	{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 3.5em;
		
		margin: 1em 0;
		padding-left: 1.3em;
		box-sizing: border-box;
		background-color: hsl(350, 0%, 97%);
		border-radius: .8em;
		overflow: hidden;
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr:nth-child(3)
	{
		display: none;
	}
	
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr > td
	{
		margin: 0;
		padding: 0 !important;
		box-sizing: border-box;
		min-width: 3rem;
		width: 100%;
		height: 100%;
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr > td:not(:last-child)
	{
		/*border-right: 1px solid #eee;*/
	}
	
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr > td:nth-child(1)
	{
		width: 15em !important;
		min-width: 15em;
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr > td input
	{
		width: 100% !important;
		height: 100%;
		border-color: transparent;
		padding: 1em;
		box-sizing: border-box;
		text-align: center;
		background-color: transparent;
		transition: background-color 0.2s;
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr > td.leftth
	{
		display: flex;
		align-items: center;
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr > td input:not([readonly])
	{
		transition: background-color 0.2s;
		background-color: hsla(0, 0%, 100%, .9);
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr > td input:not([readonly]):focus
	{
		background-color: rgba(0, 0, 0, .1);
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr:nth-child(2) > td.timeDisplay::after,
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr:nth-child(2) > td.weekendTimeDisplay::after
	{
		content: '';
		display: block;
		width: 0%;
		height: 0.14rem;
		border-radius: 100rem;
		background: #3E3E3E;
		bottom: 0.6rem;
		left: 15%;
		position: relative;
		transition: width 0.3s;
	}
	
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr:nth-child(2) > td.timeDisplay:focus-within::after,
	#repStandardTimecards_ctl00_StandardTime_Panel1 > table:last-child > tbody > tr > td > table > tbody > tr:nth-child(2) > td.weekendTimeDisplay:focus-within::after
	{
		width: 70%;
	}
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[lL]ogin.aspx.*") 
{
	/*	     	*
	 *	    	*
	 *	LOGIN	*
	 *	     	*
	 *	     	*/
	
    form[action="./Login.aspx"]
    {
        height: 100vh;
        overflow: hidden;
    }
    
    
    table, tbody, tr, td
    {
        border: none;
        box-sizing: border-box;
        display: block;
    }
    
    .row3
    {
        background-repeat: repeat-x;
        background-position-x: 3em;
    }
    
    form .boldbluemessage:first-of-type
    {
        margin-top: 18vh;
    }
    
    /* Language selection */
    table:nth-of-type(2)
    {
        background-color: white;
        position: fixed !important;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        box-sizing: border-box;
        padding: 1.5em;
        
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
		box-shadow: 0px 2px 25px -5px rgba(0,0,0,0.2);
        
        opacity: 0.3;
        transition: opacity 0.15s;
    }
    
    table:nth-of-type(2):hover
    {
        opacity: 1;
    }
    
    table:nth-of-type(2) tr
    {
        height: 2.5em;
    }
    
    table:nth-of-type(2) tr a
    {
        padding: 0.4em 1em;
        border-radius: 0.2em;
    }
    
    table:nth-of-type(2) tr a:hover
    {
        background-color: #0001;
        text-decoration: none;
    }
    
    /* Login Form */
    table:nth-of-type(3)
    {
        width: 25rem;
    }
    
    table:nth-of-type(3) tr:first-of-type
    {
        display:none;
    }
    table:nth-of-type(3) tr
    {
        border-radius: .3rem;
        background-color: hsl(0, 0%, 93%);
        border: none;
        margin: 1em 0;
        padding: 0.5em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        height: 4.5em;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    table:nth-of-type(3) td > *
    {
        height: 100%;
        box-sizing: border-box;
    }
    
    table:nth-of-type(3) td:nth-of-type(2)
    {
        width: 75%;
    }
    
    table:nth-of-type(3) .leftth
    {
        width: 15%;
        color: #393939;
        padding: 0;
        margin-left: 0.5em;
    }
    
    table:nth-of-type(3) tr:last-of-type .leftth
    {
        width: 0;
        display: none;
    }
    
    table:nth-of-type(3) .leftth span
    {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
    }
    
    #txtUserName,
    #txtPassword
    {
        border: none;
        padding: 1em 2em 1em 1.5em;
        width: 100% !important;
        border-radius: 0.2rem;
        background-color: hsl(0, 0%, 98%);
        transition: background-color 0.1s;
    }
    
    #txtUserName:hover,
    #txtPassword:hover,
    #txtUserName:focus,
    #txtPassword:focus
    {
        background-color: white;
    }
    
    table:nth-of-type(3) tr:last-of-type td:nth-of-type(2)
    {
        width: 103%;
    }
    
    table:nth-of-type(3) tr:last-of-type 
    {
        background-color: black;
    }
    
    #lBtnLogin
    {
        width: 100%;
        padding: 0.6em 0.8em;
        border-radius: 0.15rem;
        color: white;
        background-color: black;
        font-size: 1.5em;
        font-weight: bold;
        border: none;
    }
    
    #lBtnLogin:hover
    {
        cursor: pointer;
        background-color: #484848;
    }
    
    #hlinkForgotPassword
    {
        font-size: 0.8em;
        font-weight: normal;
        color: #bbb;
        padding: 0.5em 0.7em;
        border-radius: 0.2em;
        background-color: transparent;
        transition: color 0.2s, background-color 0.1s;
    }
    
    #hlinkForgotPassword:hover
    {
        color: #444;
        background-color: hsl(0, 0%, 97%);
    }
}

@-moz-document regexp(".+emea-timeandexpense\\.allegisgroup\\.com\\/[wW]ebtime\\/[tT]imeexpensesum.aspx.*") 
{
	
	/*	     	*
	 *	    	*
	 *	SUMMARY	*
	 *	     	*
	 *	     	*/
	
	.content p table,
	.content p tbody,
	.content p tr,
	.content p td
	{
		display: block;
	}
	
	.content p table
	{
		width: 100%;
	}
	
	.content p table > tbody > tr:last-child
	{
		display: flex;
		justify-content: space-between;
		flex-flow: column wrap;
		align-items: center;
	}
	
	.content p table > tbody > tr:last-child > td
	{
		width: 100%;
		max-width: 40em;
	}
	
	.content p table table
	{
		background-color: white;
		margin-bottom: 3em;
		border-radius: 1em;
		overflow: hidden;
		box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.1);
		box-sizing: border-box;
		padding: 1em;
	}
	
	.content p table table td
	{
		text-align: left;
	}
	
	.content p table table tr
	{
		display: flex;
		position: relative;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		background-color: #00000008;
		height: 3.5em;
		margin: 0.7em 0;
		border-radius: 0.7em;
		box-sizing: border-box;
		padding: 0 1em;
	}
	
	.content p table table tr .leftth
	{
		font-weight: normal;
	}
	
	.content p table table tr:first-child
	{
		background-color: transparent;
		height: auto;
		align-items: flex-end;
	}
	
	.content p table table tr:first-child .th
	{
		color: hsl(0, 0%, 70%);
		font-weight: normal;
	}
	
	.content p table table td:first-child
	{
		width: 40%;
	}
	
	.content p table table td:last-child
	{
		width: 40%;
	}
}















